#include <AssemblyInfo.h>

#include <winver.h>

VS_VERSION_INFO VERSIONINFO
PRODUCTVERSION  VERSION_PRODUCTVERSION
FILEVERSION     VERSION_FILEVERSION
FILEFLAGSMASK   0
FILEFLAGS       0
FILEOS          VOS__WINDOWS32
FILETYPE        VFT_DLL
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4"
		BEGIN
			VALUE "ProductName",      VERSION_PRODUCTNAME_STRING
			VALUE "ProductVersion",   VERSION_PRODUCTVERSION_STRING
			VALUE "FileDescription",  VERSION_FILEDESCRIPTION_STRING
			VALUE "FileVersion",      VERSION_FILEVERSION_STRING
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0409, 0x04E4
	END
END
